/*
0 - 600px:     Phone
600 - 900px:   Tablet portrait mode
900 - 1200px   Tablet landscape
[1200-1800px]  Normal styling
1800px +       Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Libre+Baskerville:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background-color: #efe1f8;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #333;
}

.heading-primary {
  font-family: "Libre Baskerville", serif;
  letter-spacing: 1px;
  font-size: 5rem;
  color: rgba(239, 225, 248, 0.9);
  text-shadow: 0 1rem 2rem #190F26, 0.2;
  font-weight: 400;
}

.heading-secondary {
  padding: 3rem 0;
  text-align: center;
  letter-spacing: -1px;
  font-size: 3.5rem;
  color: rgba(90, 55, 140, 0.9);
  text-shadow: 0 1rem 2rem #190F26, 0.2;
  font-weight: 800;
}

.heading-tertiary {
  text-align: center;
  font-size: 2.5rem;
  color: rgba(90, 55, 140, 0.9);
  text-shadow: 0 1rem 2rem #190F26, 0.2;
  font-weight: 800;
}

.heading-tertiary--light {
  color: #E0C4F2;
}

.text {
  font-size: 1.6rem;
}

.tagline {
  text-transform: uppercase;
  letter-spacing: -.04rem;
  word-spacing: 1rem;
  color: #ffe75edd;
  text-shadow: 0 1rem 2rem #190F26, 0.2;
}

.card {
  margin: 2rem;
  max-width: 500px;
  flex-grow: 100%;
  padding: 3rem;
  border-radius: 2.5rem;
  text-align: center;
  transition: all .3s;
  box-shadow: 0 1rem 2rem rgba(25, 15, 38, 0.2);
  background-image: url("../images/background.svg");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-size: contain;
}

.card__icon {
  font-size: 8rem;
  display: inline-block;
  background-image: linear-gradient(to right, #8850BF, #ffe75edd);
  -webkit-background-clip: text;
  color: transparent;
}

.card__heading {
  font-size: 2.5rem;
  color: #E0C4F2;
  text-shadow: 0 1rem 2rem #190F26, 0.2;
}

.card__text {
  text-align: left;
  color: rgba(239, 225, 248, 0.8);
}

.card:hover {
  transform: translateY(-1.5rem) scale(1.03);
  box-shadow: 0 1.5rem 3rem rgba(25, 15, 38, 0.2);
}

.header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 0% 100%);
  background-image: url("../images/background.svg");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-size: contain;
}

.header__text-container {
  width: 80%;
  height: 100%;
  max-width: 80rem;
  background-image: url(../images/working-girl.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}

.footer {
  background-color: #5A378C;
  height: 5vh;
  width: 100%;
}

.navigation {
  background-color: #392259;
  height: 5vh;
  width: 100%;
  justify-self: flex-start;
  align-self: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.quote-divider {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 20%, 100% 0, 100% 80%, 0% 100%);
  padding-bottom: 7rem;
  background-image: url("../images/background.svg");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-size: contain;
  padding: 30rem 0;
}

.quote-divider__wrapper {
  width: 80%;
  max-width: 60rem;
}

.quote-divider__quote {
  font-family: "Libre Baskerville", serif;
  color: rgba(239, 225, 248, 0.9);
  font-size: 3rem;
  text-shadow: 0 1rem 2rem #190F26, 0.2;
  line-height: 1.3;
}

.quote-divider__author {
  text-align: right;
  font-size: 1.8rem;
  color: #ffe75edd;
  text-shadow: 0 1rem 2rem #190F26, 0.2;
}

.section-welcome {
  padding-top: 10rem;
  margin: 2rem;
}

.section-welcome__content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
}

.section-welcome__img-wrapper {
  width: 20rem;
  height: 20rem;
  margin-right: 4rem;
}

.section-welcome__img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  filter: drop-shadow(0 1rem 2rem rgba(25, 15, 38, 0.2));
}

.section-welcome__heading {
  font-size: 3rem;
  color: rgba(90, 55, 140, 0.9);
  text-shadow: 0 1rem 2rem #190F26, 0.2;
  font-weight: 800;
  margin-bottom: 1rem;
}

.section-welcome__text-bubble {
  width: 70%;
  margin: 2rem;
  max-width: 80rem;
  position: relative;
  padding: 5rem 5rem 5rem 10rem;
  background: #FFF;
  border-radius: 10px;
  margin-bottom: 35px;
  box-shadow: 0 1rem 2rem rgba(25, 15, 38, 0.2);
}

.section-welcome__text-bubble:before {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  /*Font*/
  font-family: "Libre Baskerville", serif;
  font-size: 12rem;
  color: #8850BF;
  /*Positioning*/
  position: absolute;
  left: 30px;
  top: 17px;
}

.section-welcome__text-bubble:after {
  content: ' ';
  border: 10px solid;
  border-color: #FFF #FFF transparent transparent;
  position: absolute;
  bottom: 20px;
  left: -20px;
}

.section-skills {
  padding: 20rem 0;
}

.section-skills__card-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
