/*
0 - 600px:     Phone
600 - 900px:   Tablet portrait mode
900 - 1200px   Tablet landscape
[1200-1800px]  Normal styling
1800px +       Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Libre+Baskerville:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background-color: #efe1f8;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #333;
}

.heading-1 {
  font-family: "Libre Baskerville", serif;
  letter-spacing: 1px;
  font-size: 5rem;
  color: rgba(239, 225, 248, 0.9);
  text-shadow: 0 1rem 2rem #190F26, 0.2;
  font-weight: 400;
}

.tagline {
  text-transform: uppercase;
  letter-spacing: -.04rem;
  word-spacing: 1rem;
  color: #ffe75edd;
  text-shadow: 0 1rem 2rem #190F26, 0.2;
}

.header {
  height: 50vh;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 0% 100%);
  padding-bottom: 7rem;
  background-image: url("../images/background.svg");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-size: contain;
}

.header__text-container {
  width: 70%;
  height: 70%;
  background-image: url(../images/working-girl.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  background-image: linear-gradient(to right bottom, #8850BF, #5A378C);
  height: 5vh;
  width: 100%;
}

.navigation {
  background-color: #392259;
  height: 5vh;
  width: 100%;
  justify-self: flex-start;
  align-self: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.quote-divider {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 20%, 100% 0, 100% 80%, 0% 100%);
  padding-bottom: 7rem;
  background-image: url("../images/background.svg");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-size: contain;
  padding: 24rem;
}

.quote-divider__wrapper {
  max-width: 60rem;
}

.quote-divider__quote {
  font-family: "Libre Baskerville", serif;
  color: rgba(239, 225, 248, 0.9);
  font-size: 3rem;
  width: 100%;
  text-shadow: 0 1rem 2rem #190F26, 0.2;
  line-height: 1.3;
}

.quote-divider__author {
  text-align: right;
  font-size: 1.8rem;
  color: #ffe75edd;
  text-shadow: 0 1rem 2rem #190F26, 0.2;
}
