@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (min-width: 112.5em) {
  html {
    font-size: 68.75%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background-color: #ebe1ec;
  position: relative;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #333;
}

.heading-primary {
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
  font-size: 7rem;
  color: rgba(215, 189, 218, 0.9);
  text-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
  font-weight: 400;
  line-height: 1.2;
}

@media (max-width: 37.5em) {
  .heading-primary {
    font-size: 5rem;
  }
}

.heading-secondary {
  padding-bottom: 3rem;
  text-align: center;
  font-size: 5rem;
  color: rgba(115, 86, 152, 0.9);
  text-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.2);
  font-family: "Lobster", cursive;
  font-size: 4rem;
}

.heading-secondary--light {
  color: rgba(233, 214, 152, 0.9);
}

.heading-secondary--non-cursive {
  font-weight: 800;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  letter-spacing: 0px;
}

.heading-tertiary {
  text-align: center;
  font-size: 2.5rem;
  color: rgba(84, 58, 134, 0.8);
  text-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
  font-weight: 800;
  margin-bottom: 1rem;
}

.heading-tertiary--light {
  color: rgba(233, 214, 152, 0.8);
}

.text {
  font-size: 1.6rem;
  line-height: 1.5;
  padding: .5rem;
}

.tagline {
  text-transform: uppercase;
  letter-spacing: -.04rem;
  word-spacing: 1rem;
  color: #E9D698;
  text-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
}

@media (max-width: 37.5em) {
  .tagline {
    display: none;
  }
}

.heading-icon {
  margin-left: .5rem;
}

.name {
  color: #735698;
  font-family: 'Indie Flower', cursive;
  text-align: right;
  font-size: 3.5rem;
}

.link {
  margin: 3rem;
}

.link-small {
  transition: all .3s;
  text-align: right;
  color: #735698;
  text-decoration: none;
  padding: .5rem;
}

.link-small::after {
  content: "\2192";
  margin-left: .5rem;
}

.link-small:hover {
  background-color: #735698;
  color: #FFF;
  box-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
  border-radius: .5rem;
}

.button, .button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: .5rem;
  transition: all .2s;
  background-color: rgba(84, 58, 134, 0.8);
  color: #d7bdda;
  border: none;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(25, 15, 38, 0.2);
  background-color: #735698;
}

.button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.button:active, .button:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.2);
}

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.card {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(0.6rem);
  padding: 3rem;
  animation: moveInBottom 2s;
  border-radius: .5rem;
  transition: all .3s;
  box-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
}

.card__content {
  text-align: center;
  border-radius: .5rem;
}

.card__icon {
  font-size: 8rem;
  display: inline-block;
  color: rgba(84, 58, 134, 0.8);
}

.card__heading {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #543a86;
  text-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
  margin: 1rem 0;
}

.card__text {
  text-align: left;
}

.card:hover {
  transform: translateY(-1.5rem) scale(1.05);
  filter: drop-shadow(0 0.7rem 1.5rem rgba(25, 15, 38, 0.3));
}

.form {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0 0 0;
}

.form__group {
  width: 100%;
}

.form__group:not(:last-child) {
  margin-bottom: 1rem;
}

.form__input {
  font-family: inherit;
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  transition: all .3s;
  border-radius: .5rem;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(25, 15, 38, 0.1);
  border-bottom: 3px solid #735698;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #E9D698;
}

.form__label {
  font-size: 1.3rem;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.icon {
  margin: 0 auto;
  line-height: 1;
  padding: 0;
  position: relative;
  display: inline-block;
  font-size: 10rem;
  color: rgba(115, 86, 152, 0.9);
}

.icon:hover :nth-child(1) {
  filter: blur(0.4rem);
  transition: all .3s;
}

.icon:hover :nth-child(2) {
  visibility: visible;
  opacity: 1;
  transition: all 1s;
}

.icon__description {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  text-shadow: 0 0.2rem 0.4rem rgba(25, 15, 38, 0.3);
}

.icon--light {
  color: rgba(215, 189, 218, 0.7);
}

.icon--light:hover {
  color: rgba(215, 189, 218, 0.3);
}

.image-divider {
  max-width: 120rem;
  margin: 0 auto;
}

.image-divider__img {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 40rem;
  margin-top: -5rem;
  margin-bottom: -5rem;
}

.text-bubble {
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
  position: relative;
  padding: 5rem;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 35px;
  box-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
  animation: moveInRight 1s;
  border-radius: .5rem;
}

.text-bubble::after {
  content: ' ';
  border: 20px solid;
  border-color: rgba(255, 255, 255, 0.8) transparent transparent rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: -40px;
  left: 50px;
}

.quote-divider {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 20%, 100% 0, 100% 80%, 0% 100%);
  background-image: url("../images/background.svg");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-size: contain;
  padding: 20rem 0;
}

@media (max-width: 56.25em) {
  .quote-divider {
    clip-path: polygon(0% 10%, 100% 0, 100% 90%, 0% 100%);
    padding: 10rem 0;
  }
}

.quote-divider__wrapper {
  max-width: 60rem;
  padding: 2rem;
}

.quote-divider__quote {
  font-family: "Lobster", cursive;
  color: rgba(215, 189, 218, 0.9);
  font-size: 3rem;
  text-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
  line-height: 1.3;
}

.quote-divider__author {
  text-align: right;
  font-size: 1.8rem;
  color: #E9D698;
  text-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
}

.project {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(0.6rem);
  padding: 2rem;
  animation: moveInBottom 2s;
  border-radius: .5rem;
  transition: all .3s;
  box-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
}

.project__description {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.project__img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: .5rem;
}

.project__img-portrait {
  width: 50%;
}

.project__technologies-list {
  margin-top: .5rem;
  list-style: none;
}

.project__technologies-item {
  color: #543A86;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .07rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.project__technologies-item:before {
  content: "#";
}

.project__technologies-item:not(:last-child) {
  margin-right: 1.5rem;
}

.project:hover {
  transform: translateY(-1.5rem) scale(1.05);
  filter: drop-shadow(0 0.7rem 1.5rem rgba(25, 15, 38, 0.3));
}

.project__heading {
  background-color: rgba(84, 58, 134, 0.8);
  display: block;
  padding: .2rem .5rem;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 1rem;
  color: rgba(215, 189, 218, 0.9);
  position: relative;
}

.header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 0% 100%);
  background-image: url("../images/background.svg");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-size: contain;
  padding: 20rem 2rem;
}

@media (max-width: 56.25em) {
  .header {
    height: 80vh;
    clip-path: polygon(0% 0%, 100% 0, 100% 90%, 0% 100%);
    padding: 10rem 2rem;
  }
}

@media (max-width: 37.5em) {
  .header {
    height: 60vh;
  }
}

.header__text-container {
  width: 80%;
  height: 100%;
  max-width: 80rem;
  background-image: url(../images/working-girl.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}

.header__text-container > :first-child {
  animation: moveInRight 1s;
}

.header__text-container > :nth-child(2) {
  animation: moveInLeft 1s;
}

.footer {
  background-color: rgba(84, 58, 134, 0.5);
  width: 100%;
  text-align: center;
  padding: 3rem;
  position: absolute;
  bottom: 0;
}

.footer__copyright {
  color: #E9D698;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.3rem;
}

.navigation {
  background-color: rgba(84, 58, 134, 0.9);
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding: 1rem;
}

.navigation__heading {
  color: rgba(233, 214, 152, 0.9);
  font-family: "Lobster", cursive;
  text-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.2);
  letter-spacing: 1px;
}

.navigation__list {
  text-align: right;
  position: absolute;
  top: 100%;
  right: 0%;
  list-style: none;
  background-color: rgba(77, 52, 122, 0.9);
  width: 100%;
  padding-bottom: 2rem;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform .5s ease-in-out;
}

.navigation__item {
  margin-right: 2rem;
  opacity: 0;
}

.navigation__item:not(:last-child) {
  margin-bottom: 1rem;
}

.navigation__link {
  color: #E9D698;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  border: 2px solid transparent;
}

.navigation__link:hover {
  transition: all .5s;
  color: rgba(162, 116, 167, 0.9);
  border-bottom: 2px solid #E9D698;
}

.navigation__link:hover::before {
  content: "\1F449";
  margin-right: .5rem;
}

.navigation__toggle {
  display: none;
}

.navigation__toggle:checked ~ .navigation__list {
  transform: scale(1, 1);
}

.navigation__toggle:checked ~ .navigation__list .navigation__item {
  transition: all .4s ease-in-out .3s;
  opacity: 1;
}

.navigation__toggle:checked ~ .navigation__label .navigation__hamburger {
  transform: rotate(135deg);
}

.navigation__toggle:checked ~ .navigation__label .navigation__hamburger::before, .navigation__toggle:checked ~ .navigation__label .navigation__hamburger::after {
  top: 0;
  transform: rotate(90deg);
}

.navigation__label {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  margin-right: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation__hamburger {
  transition: all .4s;
}

.navigation__hamburger, .navigation__hamburger::before, .navigation__hamburger::after {
  background-color: #E9D698;
  height: 2px;
  width: 3rem;
  border-radius: 2px;
  position: relative;
}

.navigation__hamburger::before, .navigation__hamburger::after {
  content: "";
  position: absolute;
}

.navigation__hamburger::before {
  bottom: .7rem;
}

.navigation__hamburger::after {
  top: .7rem;
}

.section-welcome {
  padding-top: 15rem;
  margin: 2rem;
}

@media (max-width: 56.25em) {
  .section-welcome {
    padding-top: 10rem;
  }
}

.section-welcome__heading-img-wrapper {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-welcome__heading {
  text-align: center;
  font-size: 3rem;
  color: rgba(84, 58, 134, 0.9);
  text-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
  font-weight: 800;
  line-height: 1.2;
}

@media (max-width: 37.5em) {
  .section-welcome__heading {
    font-size: 2.5rem;
  }
}

.section-welcome__img {
  display: block;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
}

.section-skills {
  padding: 20rem 0;
  margin: 2rem;
}

@media (max-width: 56.25em) {
  .section-skills {
    padding-top: 10rem;
  }
}

.section-skills__card-wrapper {
  padding: 3rem;
  width: 100%;
  max-width: 120rem;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 3rem;
  background-image: url("../images/background.svg");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-size: contain;
  box-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
  margin: 0 auto;
}

@media (max-width: 56.25em) {
  .section-skills__card-wrapper {
    grid-template-columns: 1fr;
    max-width: 60rem;
  }
}

.section-knowledge {
  margin: 0 auto;
  padding: 20rem 2rem;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 56.25em) {
  .section-knowledge {
    padding: 10rem 2rem;
  }
}

.section-knowledge__knowledges {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.section-knowledge__figcaption {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  text-shadow: 0 0.2rem 0.4rem rgba(25, 15, 38, 0.3);
}

.section-knowledge__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: .5rem;
}

.section-knowledge__item:before {
  content: "\1F49C";
  margin-right: 1rem;
}

.section-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20rem 2rem;
}

@media (max-width: 56.25em) {
  .section-projects {
    padding: 10rem 2rem;
  }
}

.section-projects__projects-wrapper {
  padding: 3rem;
  width: 100%;
  max-width: 120rem;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 3rem;
  background-image: url("../images/background.svg");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-size: contain;
  box-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
}

@media (max-width: 56.25em) {
  .section-projects__projects-wrapper {
    grid-template-columns: 1fr;
    max-width: 60rem;
  }
}

.section-education {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20rem 2rem;
}

@media (max-width: 56.25em) {
  .section-education {
    padding: 10rem 2rem;
  }
}

.section-education__education-wrapper {
  margin: 4rem 0;
  width: 100%;
  max-width: 80rem;
  position: relative;
  padding: 3rem;
  background: #FFF;
  box-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
  border-radius: .5rem;
}

.section-education__education:not(:last-child) {
  margin-bottom: 2rem;
}

.section-education__education-heading:before {
  content: "\1F393";
  font-size: 2.5rem;
  margin-right: .5rem;
}

.section-education__course:not(:last-child) {
  margin-bottom: 2rem;
}

.section-education__course-heading:before {
  content: "\1F4C4";
  font-size: 2.5rem;
  margin-right: .5rem;
}

.section-education__details {
  display: flex;
  justify-content: space-between;
}

.section-education__year, .section-education__school, .section-education__course-platform {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: #543A86;
  font-weight: 400;
}

.section-education__description {
  padding: .5rem 0;
}

.section-education__divider {
  width: 10rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 1px solid #735698;
}

.section-experience {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20rem 2rem;
}

@media (max-width: 56.25em) {
  .section-experience {
    padding: 10rem 2rem;
  }
}

.section-experience__experience-wrapper {
  margin: 4rem 0;
  width: 100%;
  max-width: 80rem;
  position: relative;
  padding: 3rem;
  background: #FFF;
  box-shadow: 0 0.5rem 1rem rgba(25, 15, 38, 0.1);
  border-radius: .5rem;
}

.section-experience__experience:not(:last-child) {
  margin-bottom: 2rem;
}

.section-experience__experience-heading:before {
  content: "\1F4BC";
  font-size: 2.2rem;
  margin-right: .5rem;
}

.section-experience__details {
  display: flex;
  justify-content: space-between;
}

.section-experience__year, .section-experience__workplace {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: #543A86;
  font-weight: 400;
}

.section-experience__description {
  padding: .5rem 0;
}

.section-experience__divider {
  width: 10rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 1px solid #735698;
}

.section-contact {
  padding: 30rem 2rem 15rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(0% 20%, 100% 0, 100% 100%, 0% 100%);
  background-image: url("../images/background.svg");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-size: contain;
}

@media (max-width: 56.25em) {
  .section-contact {
    clip-path: polygon(0% 10%, 100% 0, 100% 100%, 0% 100%);
    padding: 15rem 2rem 10rem 2rem;
  }
}

.section-contact__nav {
  margin: 3rem 0;
}

.section-contact__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

@media (max-width: 37.5em) {
  .section-contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section-contact__item {
  display: inline-block;
  padding: 1rem;
}
