// Colors
$color-primary: #735698;
$color-primary-light: #A274A7;
$color-primary-lightest: #d7bdda;
$color-primary-dark: #543A86;
$color-primary-darkest: #4d347a;

$color-secondary: #E9D698;

$color-grey-light: #eee;
$color-grey: #777;
$color-grey-dark: #333;
$color-white: #FFF;
$color-black: #190F26;

// Content max-width
$max-width: 120rem;

// Fonts
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Lobster', cursive;
// $font-secondary: 'Libre Baskerville', serif;

// Font sizes
$default-font-size: 1.6rem;

//Shadow
$shadow: 0 .5rem 1rem rgba($color-black, .1);

//Gutters
$gutter-large: 20rem;
$gutter-medium: 15rem;
$gutter-small: 10rem;