.footer {
    background-color: rgba($color-primary-dark, .5);
    width: 100%;
    text-align: center;
    padding: 3rem;
    position: absolute;
    bottom: 0;

    &__copyright {
        color: $color-secondary;
        text-transform: uppercase;
        font-weight:400;
        letter-spacing: 2px;
        font-size: 1.3rem;
    }
}