.header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 0% 100%);
    background-image: url("../images/background.svg");
    /* background by SVGBackgrounds.com */
    background-attachment: fixed;
    background-size: contain;
    padding: $gutter-large 2rem;
    @include responsive(tab-port) {
        height: 80vh;
        clip-path: polygon(0% 0%, 100% 0, 100% 90%, 0% 100%);
        padding: $gutter-small 2rem;
    }
    @include responsive(phone) {
        height: 60vh;
    }

    &__text-container {
        width: 80%;
        height: 100%;
        max-width: 80rem;
        background-image: url(../images/working-girl.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 8rem;

        & > :first-child {
            animation: moveInRight 1s;
        }

        & > :nth-child(2) {
            animation: moveInLeft 1s;
        }
    }
}