.navigation {
    background-color: rgba($color-primary-dark, .9);
    width: 100%;
    position: fixed;
    z-index: 1000;
    padding: 1rem;

    &__heading {
        color: rgba($color-secondary, .9);
        font-family: $font-secondary;
        text-shadow: 0 .5rem 1rem rgba($color-black, .2);
        letter-spacing: .1rem;
    }

    &__list {
        text-align: right;
        position: absolute;
        top: 100%;
        right: 0%;
        list-style: none;
        background-color: rgba($color-primary-darkest, .9);
        width: 100%;
        padding-bottom: 2rem;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform .5s ease-in-out;
    }

    &__item {
        // display: inline-block;
        margin-right: 2rem;
        opacity: 0;

        &:not(:last-child) {
            // margin-right: 2rem;
            margin-bottom: 1rem;
        }
    }

    // Styling for links in drop-down menu

    &__link {
        color: $color-secondary;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 400;
        text-decoration: none;
        border: 2px solid transparent;

        &:hover {
            transition: all .5s;
            color: rgba($color-primary-light, .9);
            border-bottom: 2px solid $color-secondary;

            &::before {
                content: "\1F449";
                margin-right: .5rem;
            }
        }
    }

    // Styling for hamburger menu

    &__toggle {
        display: none;

        &:checked ~ .navigation__list {
            transform: scale(1, 1);
        }

        &:checked ~ .navigation__list .navigation__item {
            transition: all .4s ease-in-out .3s;
            opacity: 1;
        }

        &:checked ~ .navigation__label .navigation__hamburger {
            // opacity: 0;
            transform: rotate(135deg);

            &::before,
            &::after {
                top: 0;
                transform: rotate(90deg);
            }
        }
    }

    &__label {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        margin-right: 2rem;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__hamburger {
        transition: all .4s;

        &,
        &::before,
        &::after {
            background-color: $color-secondary;
            height: 2px;
            width: 3rem;
            border-radius: 2px;
            position: relative;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            bottom: .7rem;
        }

        &::after {
            top: .7rem;
        }
    }
}