.card {
    background-color: rgba($color-white, .85);
    backdrop-filter: blur(.6rem);
    padding: 3rem;
    animation: moveInBottom 2s;
    border-radius: .5rem;
    transition: all .3s;
    box-shadow: $shadow;

    &__content {
        text-align: center;
        border-radius: .5rem;
    }

    &__icon {
        font-size: 8rem;
        display: inline-block;
        color: rgba($color-primary-light, .9);
    }

    &__heading {
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: rgba($color-primary-dark, 1);
        text-shadow: $shadow;
        margin: 1rem 0;
    }

    &__text {
        text-align: left;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.05);
        filter: drop-shadow(0 .7rem 1.5rem rgba($color-black, .3));
    }
}