.image-divider {
    max-width: $max-width;
    margin: 0 auto;

    &__img {
        display: block;
        margin: 0 auto;
        width: 50%;
        max-width: 40rem;
        margin-top: -5rem;
        margin-bottom: -5rem;
    }
}