.project {
    background-color: rgba($color-white, .7);
    backdrop-filter: blur(.6rem);
    padding: 2rem;
    animation: moveInBottom 2s;
    border-radius: .5rem;
    transition: all .3s;
    box-shadow: $shadow;

    &__description {
        margin-bottom: .5rem;
    }

    &__img {
        width: 100%;
    }

    &__technologies-list {
        margin-top: .5rem;
        list-style: none;
    }

    &__technologies-item {
        color: $color-primary-dark;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: .07rem;
        font-size: 1.4rem;
        font-weight: 500;
        &:before {
            content: "#"
        }
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.05);
        filter: drop-shadow(0 .7rem 1.5rem rgba($color-black, .3));
    }

    &__heading {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: 1px;
        margin-bottom: 1rem;
        color: $color-primary-dark;
        position: relative;

        &:before {
            font-size: 2rem;
            content: "\2B50";
        }
    }
}