.project {
    background-color: rgba($color-white, .8);
    backdrop-filter: blur(.6rem);
    padding: 2rem;
    animation: moveInBottom 2s;
    border-radius: .5rem;
    transition: all .3s;
    box-shadow: $shadow;

    &__description {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }

    &__img {
        display: block;
        margin: 0 auto;
        width: 100%;
        border-radius: .5rem;

        &-portrait {
            width: 50%;
        }
    }

    &__technologies-list {
        margin-top: .5rem;
        list-style: none;
    }

    &__technologies-item {
        color: $color-primary-dark;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: .07rem;
        font-size: 1.4rem;
        font-weight: 500;
        &:before {
            content: "#"
        }
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.05);
        filter: drop-shadow(0 .7rem 1.5rem rgba($color-black, .3));
    }

    &__heading {
        background-color: rgba($color-primary-dark, .8);
        display: block;
        padding: .2rem .5rem;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 1.6rem;
        letter-spacing: 1px;
        font-weight: 400;
        margin-bottom: 1rem;
        color: $color-primary-light;
        position: relative;
    }
}