.text-bubble {
    margin: 0 auto;
    width: 100%;
    max-width: 80rem;
    position: relative;
    padding: 5rem;
    background: $color-white;
    margin-bottom: 35px;
    box-shadow: $shadow;
    animation: moveInRight 1s;
    border-radius: .5rem;

    &:after {
        content: ' ';
        border: 30px solid;
        border-color: $color-white transparent transparent $color-white;
        position: absolute;
        bottom: -40px;
        left: 50px;
    }

    &:hover {
        transform: rotateX(3deg);
    }
}