@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body {
    font-family: $font-primary;
    font-weight: 300;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    font-family: $font-secondary;
    letter-spacing: 1px;
    font-size: 5rem;
    color: rgba($color-primary-lightest, .9);
    text-shadow: $shadow;
    font-weight: 400;
    line-height: 1.2;
    @include responsive(phone) {
        font-size: 3.5rem;
    }
}

.heading-secondary {
    padding-bottom: 3rem;
    text-align: center;
    letter-spacing: -1px;
    font-size: 3.5rem;
    color: rgba($color-primary-dark, .9);
    text-shadow: $shadow;
    font-weight: 800;

    &--light {
        color: $color-secondary;
        color: rgba($color-secondary, .8);
    }
}

.heading-tertiary {
    text-align: center;
    font-size: 2.5rem;
    color: rgba($color-primary-dark, .8);
    text-shadow: $shadow;
    font-weight: 800;
    margin-bottom: 1rem;

    &--light {
        color: rgba($color-secondary, .8);
    }
}

.text {
    font-size: 1.6rem;
    line-height: 1.5;
    padding: .5rem;
}

.tagline {
    text-transform: uppercase;
    letter-spacing: -.04rem;
    word-spacing: 1rem;
    color: $color-secondary;
    text-shadow: $shadow;

    @include responsive(phone) {
        display: none;
    }
}

.heading-icon {
    margin-left: .5rem;
}

.name {
    color: $color-primary;
    font-family: 'Indie Flower', cursive;
    text-align: right;
    font-size: 3.5rem;
}

.link {
     margin: 3rem;

    &-small {
        transition: all .3s;
        text-align: right;
        color: $color-primary;
        text-decoration: none;
        padding: .5rem;

        &::after {
            content: "\2192";
            margin-left: .5rem;
        }

        &:hover {
            background-color: $color-primary;
            color: $color-white;
            box-shadow: $shadow;
            border-radius: .5rem;
        }
    }
}