.section-welcome {
    padding-top: 10rem;
    margin: 2rem;
}

.section-skills {
    padding: 20rem 0;
    margin: 2rem;

    &__card-wrapper {
        margin: 0 auto;
        max-width: $max-width;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
    }
}

.section-knowledge {
    margin: 0 auto;
    padding: 10rem 0;
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__knowledges {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }

    &__icon {
        margin: 0 auto;
        line-height: 1;
        padding: 0;
        position: relative;
        display: inline-block;
        font-size: 10rem;
        color: $color-primary;

        &:hover {

            & :nth-child(1) {
                filter: blur(.4rem);
                transition: all .3s;
            }

            & :nth-child(2) {
                visibility: visible;
                opacity: 1;
                transition: all 1s;
            }
        }
    }

    &__figcaption {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgba($color-white, .8);
        font-weight: 700;
        @include center-horizontal-vertical;
        visibility: hidden;
        opacity: 0;
        z-index: 100;
        text-shadow: 0 .2rem .4rem rgba($color-black, .3);
    }

    &__list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: .5rem;
    }

    &__item {
        &:before {
            content: "\1F49C";
            margin-right: 1rem;
        }

    }
}

.section-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 10%, 100% 0, 100% 90%, 0% 100%);
    background-image: url("../images/background.svg");
    /* background by SVGBackgrounds.com */
    background-attachment: fixed;
    background-size: contain;
    padding: 25rem 0;

    &__projects-wrapper {
        padding: 2rem;
        width: 100%;
        max-width: $max-width;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 3rem;
    }
}

.section-education {
    width: 100%;
    margin: 0 auto;
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    &__education-wrapper {
        margin: 4rem 0;
        width: 100%;
        max-width: 80rem;
        position: relative;
        padding: 3rem;
        background: $color-white;
        box-shadow: $shadow;
        border-radius: .5rem;
    }

    &__education {
        margin-top: 2rem;
        margin-bottom: 2rem;

        &-heading {
            &:before {
                content: "\1F393";
                font-size: 2.5rem;
            }
        }
    }

    &__course {
        margin-top: 2rem;
        margin-bottom: 2rem;

        &-heading {
            &:before {
                content: "\1F4C4";
                font-size: 2.5rem;
            }
        }
    }

    &__details {
        display: flex;
        justify-content: space-between;
    }

    &__year,
    &__school,
    &__course-platform {
        text-transform: uppercase;
        font-size: 1.3rem;
        letter-spacing: 1px;
        color: $color-primary-dark;
        font-weight: 400;
    }

    &__divider {
        width: 10rem;
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
        border: 1px solid $color-primary;
    }
}

.section-experience {

}

.section-contact {
    height: 60vh;
    padding: 20rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0% 20%, 100% 0, 100% 100%, 0% 100%);
    background-image: url("../images/background.svg");
    /* background by SVGBackgrounds.com */
    background-attachment: fixed;
    background-size: contain;
}